name: Deploy Website to S3

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "react-app/**"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install dependencies
        working-directory: react-app
        run: npm ci

      - name: Build project
        working-directory: react-app
        run: npm run build

      # AWS credentials from GitHub Secrets
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::847221641698:role/fbd-website-jan16-monorepo--gh-actions
          aws-region: us-west-2

      - name: Sync dist/ with S3 bucket
        run: |
          aws s3 sync react-app/dist s3://${{ env.BUCKET_NAME }} --delete
